@page "/Articles"
<div class="row pad-bottom">
	<div class="col-1"></div>
	<div class="col-10">
		<h3>Articles</h3>
		<ul>
			<li><h4>Sports Cards 101</h4></li>
			<ul>
				<li><a href="/a/grading">Grading</a></li>
				<li>More to come...</li>
			</ul>

			<li><h4>NFT 101</h4></li>
			<ul>
				<li>What is an NFT?</li>
				<li>Ethereum Explained</li>
			</ul>
		</ul>
	</div>
	<div class="col-1"></div>
</div>

@code {

}
