@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

html, body {
    font-family: "Segoe UI","Roboto","Helvetica Neue","Arial","Noto Sans","Liberation Sans","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.videoSize {
    max-height: 350px;
    object-fit: contain;
}

svg {
    width: 35px;
    display: block;
    margin: 40px auto 0;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

    .path.circle {
        -webkit-animation: dash 0.9s ease-in-out;
        animation: dash 0.9s ease-in-out;
    }

    .path.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
        animation: dash 0.9s 0.35s ease-in-out forwards;
    }

    .path.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
        animation: dash-check 0.9s 0.35s ease-in-out forwards;
    }

.successMessage {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.1em;
    color: #73AF55;
}


@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}


.marketing-subtitle {
    padding-left: 15px
}

.marketing {
    padding-top: 50px
}

/*.emailInput {
    margin: auto;
    display: block;
}*/

.invalidInfo {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalidInput {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/*.waitListForm {
    background-color: #58c9d5; 
    text-align: center
}*/

.pad-bottom {
    padding-bottom: 20px
}


.pad-top {
    padding-top: 20px
}

.pointer-hover:hover {
    cursor: pointer;
}

.login-body {
    border: 1px solid #e3e3e3;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.resetButton {
    padding-top: 120px;
    padding-right: 150px;
    float: right;
}


.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

    .form-signin .form-control:focus {
        z-index: 2;
    }

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.number {
    font-size: 140px;
    color: #778F9B;
    line-height: 300px;
    position: relative;
    text-align: center;
    padding-right: 80px;
}

    .number span {
        position: absolute;
        opacity: 0;
    }

@-webkit-keyframes time {
    0%, 10%, 100% {
        opacity: 0;
        transform: scale(1);
    }

    5% {
        opacity: 0.8;
        transform: scale(1.2);
    }
}

.num3, .num2, .num1 {
    color: #FF1643;
}

.num0 {
    animation: time 10s;
    animation-delay: 10s;
}

.num1 {
    animation: time 10s;
    animation-delay: 8s;
}

.num2 {
    animation: time 10s;
    animation-delay: 6s;
}

.num3 {
    animation: time 10s;
    animation-delay: 4s;
}

.num4 {
    animation: time 10s;
    animation-delay: 2s;
}

.num5 {
    animation: time 10s;
    animation-delay: 0s;
}


a, .btn-link {
    color: #0366d6;
}

.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev-icon {
    display: none;
}

.carousel-indicators {
    display: none;
}

.centerContent {
    text-align: center !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.grid-img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
