@page "/a/HockeyAnalytics"
<h3>Hockey Analytics</h3>
<blockquote class="messageText SelectQuoteContainer ugc baseHtml">
					
					Am new to advanced stats but these are some of the best resources I have found so far.<br>
<br>
<b>JFresh's Patreon: </b>$5 a month. Includes Player and Team Cards and Tableau Workbooks that use Patrick Bacon's WAR model and other statistics.<br>
<br>
Link: <a href="https://www.patreon.com/jfreshhockey/posts" target="_blank" class="externalLink" rel="nofollow">https://www.patreon.com/jfreshhockey/posts</a><br>
Explanation of this WAR model: <a href="https://towardsdatascience.com/wins-above-replacement-high-level-overview-63838e914395" target="_blank" class="externalLink" rel="nofollow">Wins Above Replacement — High Level Overview</a><br>
More info: <a href="https://topdownhockey.medium.com/" target="_blank" class="externalLink" rel="nofollow">Patrick Bacon – Medium</a><br>
<br>
Screenshots:<br>
<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-41-33-png.422111/" class="bbCodeImage LbImage" alt="[​IMG]" data-url="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-41-33-png.422111/" style=""><br>
<br>
<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-13-26-png.422098/" class="bbCodeImage LbImage" alt="[​IMG]" data-url="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-13-26-png.422098/" style=""><br>
<b><br>
Evolving-Hockey:</b> Ton of good stats. Really nice platform with a ton of player and team stats, contract evaluations, and more. A lot is free but some requires a $5 Patreon subscription.<br>
<br>
Link: <a href="https://www.evolving-hockey.com/" target="_blank" class="externalLink" rel="nofollow">Evolving-Hockey.com | Home</a><br>
Patreon: <a href="https://www.patreon.com/evolvinghockey/posts" target="_blank" class="externalLink" rel="nofollow">https://www.patreon.com/evolvinghockey/posts</a><br>
More info:<br>
<a href="https://evolving-hockey.com/blog/references/" target="_blank" class="externalLink" rel="nofollow">Evolving-Hockey.com | References</a><br>
<a href="https://evolving-hockey.com/blog/glossary/" target="_blank" class="externalLink" rel="nofollow">Evolving-Hockey.com | Glossary</a><br>
<br>
Screenshots:<br>
<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-29-17-png.422101/" class="bbCodeImage LbImage" alt="[​IMG]" data-url="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-29-17-png.422101/" style=""><br>
<b>Natural Stat Trick: </b>Pretty much completely free, a few smaller things behind Patreon paywall. Awesome live game reports, With and without reports, Player stats, team stats and more.<br>
<br>
Link: <a href="http://www.naturalstattrick.com/" target="_blank" class="externalLink" rel="nofollow">Natural Stat Trick</a><br>
Patreon: <a href="https://www.patreon.com/naturalstattrick" target="_blank" class="externalLink" rel="nofollow">Natural Stat Trick is creating a source for hockey stats | Patreon</a><br>
More info: <a href="http://www.naturalstattrick.com/glossary.php" target="_blank" class="externalLink" rel="nofollow">Natural Stat Trick - Glossary</a><br>
<br>
Screenshots:<br>
<br>
<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-30-36-png.422104/" class="bbCodeImage LbImage" alt="[​IMG]" data-url="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-30-36-png.422104/" style=""><br>
<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-31-2-png.422105/" class="bbCodeImage LbImage" alt="[​IMG]" data-url="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-31-2-png.422105/" style=""><br>
<br>
<b>Elite Prospects Premium: </b>$9 a month or $99 for the year. Sure most people know of this site. Nothing crazy advanced here (as far as I have seen so far) but some neat features with Premium like Player Game Logs, Player Comparison, Agent data, Draft Center and EP Rinkside which has some awesome writers and great articles.<br>
<br>
Link: <a href="https://www.eliteprospects.com/" target="_blank" class="externalLink" rel="nofollow">Elite Prospects - Hockey Players, Stats and Transactions </a><br>
EP Rinkside: <a href="https://eprinkside.com/" target="_blank" class="externalLink" rel="nofollow">EP Rinkside</a><br>
<br>
Screenshots:<br>
<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-36-33-png.422108/" class="bbCodeImage LbImage" alt="[​IMG]" data-url="https://hfboards.mandatory.com/attachments/upload_2021-4-14_1-36-33-png.422108/" style=""><br>
<br>
<b><b>
	
	<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_15-18-9-png.422292/" alt="upload_2021-4-14_15-18-9.png" class="bbCodeImage LbImage" style="">
		
<br>

	
	<img src="https://hfboards.mandatory.com/attachments/upload_2021-4-14_15-18-36-png.422293/" alt="upload_2021-4-14_15-18-36.png" class="bbCodeImage LbImage" style="">
		
<br>
<br>
Corey Sznajder's Patreon: </b></b>Manually tracks possession data. Just recently subscribed so I haven't dug in much, but he's been a great follow on Twitter for years @@ShutdownLine<br>
Link:<a href="https://www.patreon.com/CSznajder" target="_blank" class="externalLink" rel="nofollow"> Corey Sznajder is creating public database for hockey microstats. | Patreon</a><br>
<b><b><br>
The Athletic: </b></b>$60 for a year subscription and access to all articles for all sports and teams. Dom Luszczyszyn has some great articles on advanced stats that break things down easily.<br>
Link: <a href="https://theathletic.com/author/dom-luszczyszyn/" target="_blank" class="externalLink" rel="nofollow">Dom Luszczyszyn - The Athletic</a><br>
<b><br>
HockeyViz: </b>Need to check the site out more but Micah has been a great follow on Twitter for a long time. Great visualizations. @@IneffectiveMath<br>
Link: <a href="https://hockeyviz.com/subscribe" target="_blank" class="externalLink" rel="nofollow">https://hockeyviz.com/subscribe</a><br>
<br>
<b>The Athletic: </b>$60 for a year subscription, Dom Luszczyszyn has some great articles and visuals that break things down easily.<br>
Link: <a href="https://theathletic.com/author/dom-luszczyszyn/" target="_blank" class="externalLink" rel="nofollow">Dom Luszczyszyn - The Athletic</a><br>
<br>
<b>HockeyGraphs</b>: Awesome articles and great writers, some interactive graphs to play with as well<br>
Link: <a href="https://hockey-graphs.com/" target="_blank" class="externalLink" rel="nofollow">Hockey Graphs | Visualizing and analyzing hockey and statistics (hockey-graphs.com)</a><br>
<b><br>
MoneyPuck - </b>Win probs, player, team, and other misc data<br>
Link: <a href="http://www.moneypuck.com/" target="_blank" class="externalLink" rel="nofollow">MoneyPuck.com -NHL Analytics, Playoff Odds, Power Rankings, Player Stats</a><br>
<br>
<b>Hockey Reference: </b><a href="https://www.hockey-reference.com/" target="_blank" class="externalLink" rel="nofollow">NHL Stats, History, Scores, &amp; Records | Hockey-Reference.com</a><br>
<b><br>
Some other stuff:<br>
Kaggle data sets:</b> Haven't explored this much yet but looks like a ton of data sets to mess around with.<br>
<a href="https://www.kaggle.com/" target="_blank" class="externalLink" rel="nofollow">Kaggle: Your Machine Learning and Data Science Community</a><br>
<b>Jack Han Hockey Tactics Newsletter:</b> <a href="https://jhanhky.substack.com/" target="_blank" class="externalLink" rel="nofollow">The Hockey Tactics Newsletter</a><br>
<b>Scouching Draft Analytics:</b> <a href="https://www.youtube.com/c/Scouching/videos" target="_blank" class="externalLink" rel="nofollow">https://www.youtube.com/c/Scouching/videos</a><br>
<a href="https://www.patreon.com/Scouching" target="_blank" class="externalLink" rel="nofollow">Will Scouch is creating Analytical NHL Draft Data | Patreon</a><br>
<b>Behind the Benches Coach database:</b> <a href="http://behindthebenches.com/NHL/index.html" target="_blank" class="externalLink" rel="nofollow">NHL Coaches | Behind the Benches</a><br>
<b>Sportsnet 5-8 min game highlights:</b> <a href="https://www.youtube.com/playlist?list=PLo12SYwt93SR-vunXaEDPrHvqAWy5b-sq" target="_blank" class="externalLink" rel="nofollow">Sportsnet NHL Highlights YouTube Playlist</a><br>
<b>Daily Faceoff Line combos:</b> <a href="https://www.dailyfaceoff.com/teams/" target="_blank" class="externalLink" rel="nofollow">Line Combinations: Daily NHL Hockey Line Combos - Daily Faceoff</a><br>
<b>CapFriendly Salaries and Cap Info: </b><a href="https://www.capfriendly.com/" target="_blank" class="externalLink" rel="nofollow">CapFriendly - CapFriendly - NHL Salary Caps</a><br>
<b>QuantHockey - Misc stats:</b> <a href="https://www.quanthockey.com/" target="_blank" class="externalLink" rel="nofollow">QuantHockey.com</a><br>
<br>
<b>Twitter Accounts to Follow:</b><br>
<a href="https://twitter.com/HockeyStatsCZ" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/HockeyStatsCZ</a><br>
<a href="https://twitter.com/ShutdownLine" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/ShutdownLine</a><br>
<a href="https://twitter.com/HockeyGraphs" target="_blank" class="externalLink" rel="nofollow">Hockey Graphs (@@HockeyGraphs) / Twitter</a><br>
<a href="https://twitter.com/MoneyPuckdotcom" target="_blank" class="externalLink" rel="nofollow">MoneyPuck.com (@@MoneyPuckdotcom) / Twitter</a><br>
<a href="https://twitter.com/IneffectiveMath" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/IneffectiveMath</a><br>
<a href="https://twitter.com/EvolvingHockey" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/EvolvingHockey</a><br>
<a href="https://twitter.com/JFreshHockey" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/JFreshHockey</a><br>
<a href="https://twitter.com/JhanHky" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/JhanHky</a><br>
<a href="https://twitter.com/hayyyshayyy" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/hayyyshayyy</a><br>
<a href="https://twitter.com/TopDownHockey" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/TopDownHockey</a><br>
<a href="https://twitter.com/domluszczyszyn" target="_blank" class="externalLink" rel="nofollow">https://twitter.com/domluszczyszyn</a><br>
<a href="https://twitter.com/Scouching" target="_blank" class="externalLink" rel="nofollow">Will Scouch (@@Scouching) / Twitter</a>
					<div class="messageTextEndMarker">&nbsp;</div>
				</blockquote>

@code {

}
