@inherits LayoutComponentBase
@inject AppState AppState
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row px-4">
			
			@if (loggedInUser == null)
			{
				<a href="/account/login" class="ml-md-auto">Login</a>
			}
			else
			{
				<a href="/account" class="ml-md-auto">@loggedInUser.username</a>
			}
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</div>

@code {
	@using Uptick.Models;
	public string userName { get; set; }
	User loggedInUser;

	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
		loggedInUser = localStorage.GetItem<User>("loggedInUser");
	}

	public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}
}